<nav class="navbar navbar-expand-lg navbar-light bg-light mt-5 py-4">
    <div class="container">
    <h6 class="mx-auto text-danger">&copy; <%= new Date().toISOString().replace('T', ' ').substr(0, 4) %> Universiti Teknologi Malaysia - All Rights Reserved.</h6>
    </div>
</nav>