<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <a class="navbar-brand mr-0" style="max-width: 70%;" href="#">
        <div class="container">
        <img src="/images/LOGO-UTM.png" class="img-fluid img-responsive" style="width: 224px;">
        <h5 class="mt-3 ml-lg-5 ml-md-5 ml-sm-1 text-danger">Staff Enrollment</h5>
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto mt-2">
            <li class="nav-item active">
                <a class="nav-link" href="/view_staff">View Staff<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/add_staff">Add New Staff<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/payslip">Salary Management<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/staff_contract">Staff Contract<span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>