<% layout('index') %>
<h1 class="text-danger"><%= title %></h1>

<div class="container">
    <h4>Name: &nbsp; <%= staff.name %></h4>
    <hr>
    <a href="#add" class="mr-5 text-danger">Add New Contract</a><a href="#view" class="mr-5 text-danger">View All Contract</a>
    <hr>
    <div id="add" class="container my-5">
        <form method="POST" action="/staff_contract/add_contract/<%= staff._id %>">
        <fieldset>
            <h3>Add New Contract</h3>

            <div class="form-group">
                <label for="DOB">Date Start</label>
                <input type="date" class="form-control" name="date_start" value="<%= new Date().toISOString().replace('T', ' ').substr(0, 10) %>" required>
            </div>

            <div class="form-group">
                <label for="DOB">Date End</label>
                <input type="date" class="form-control" name="date_end" value="<%= new Date().toISOString().replace('T', ' ').substr(0, 10) %>" required>
            </div>

            <div class="form-group">
                <label for="StateOB">Status</label>
                <select class="form-control" name="status">
                    <option value="true">Active</option>
                    <option value="false">Not active</option>
                </select>
            </div>

            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" class="form-control" name="salary" placeholder="Enter salary" required>
            </div>

            <button type="submit" class="btn btn-danger">Submit</button>
        </fieldset>
        </form>
    </div>
    <hr>
    <div id="view" class="container my-5">
        <h3>View All Contract</h3>
        <div class="container mt-4 table-responsive">
            <table class="table table-hover text-danger">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Date Start</th>
                        <th scope="col">Date End</th>
                        <th scope="col">Status</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Update</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (staff_contract.length > 0) { %>
                        <% var i = 1; %>
                        <% for (let item of staff_contract) { %>
                            <tr class="table-light">
                                <th scope="row"><%= i++ %></th>
                                <td><%= item.date_start.substr(0, 10) %></td>
                                <td><%= item.date_end.substr(0, 10) %></td>
                                <td><%= item.status ? 'Active' : 'Not active' %></td>
                                <td><%= item.salary %></td>
                                <td>
                                    <a href="/staff_contract/update_contract/<%= item._id %>" class="text-danger">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                            </tr>
                        <% } %>
                    <% } else { %>
                        <tr><td colspan="6" class="text-center">-- No data --</td></tr>
                    <% } %>
                </tbody>
            </table>
        </div>  
    </div>
</div>