<% layout('index') %>
<h1 class="text-danger"><%= title %></h1>

<div class="container">
    <h4>Name: &nbsp; <%= staff.name %></h4>
    <hr>
    <div class="container my-5">
        <form method="POST" action="">
        <fieldset>
            <h3>Update Contract</h3>
            <input type="hidden" name="staff_id" value="<%= staff._id %>">
            <div class="form-group">
                <label>Date Start</label>
                <div><strong><%= staff_contract.date_start.substr(0, 10) %></strong></div>
            </div>

            <div class="form-group">
                <label>Date End</label>
                <div><strong><%= staff_contract.date_end.substr(0, 10) %></strong></div>
            </div>

            <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" name="status">
                    <option value="true"  
                    <%- 
                        staff_contract.status ? 
                        'selected="selected"' : 
                        '' 
                    %> 
                    >
                        Active
                    </option>

                    <option value="false"  
                    <%- 
                        !staff_contract.status ? 
                        'selected="selected"' : 
                        '' 
                    %> 
                    >
                        Not active
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="salary">Salary</label>
                <input type="number" class="form-control" name="salary" value="<%= staff_contract.salary %>" placeholder="Enter salary" required>
            </div>

            <button type="submit" class="btn btn-danger">Submit</button>
        </fieldset>
        </form>
    </div>
</div>