<% layout('index') %>
<h1 class="text-danger">Staff Contract Management</h1>

<div class="container mt-4">
    <table class="table table-hover table-responsive text-danger">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Gred</th>
                <th scope="col">Jawatan</th>
                <th scope="col">Pusat</th>
                <th scope="col">Bahagian</th>
                <th scope="col">Update</th>
            </tr>
        </thead>
        <tbody>
            <% if (staffs == null || staffs.length == 0) { %>
                <tr>
                    <td colspan="8">No data</td>
                </tr>
            <% } else { %>
                <% for (let staff of staffs) { %>
                <tr class="table-light">
                    <th scope="row"><%= staff.count %></th>
                    <td><%= staff.name %></td>
                    <td><%= staff.gred %></td>
                    <td><%= staff.jawatan %></td>
                    <td><%= staff.pusat %></td>
                    <td><%= staff.bahagian %></td>
                    <td>
                        <a href="/staff_contract/add_contract/<%= staff._id %>" class="text-danger">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</div>