<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
  </head>
  <body class="bg-light">
    <%- include('partial/navbar'); -%>
    <div class="container" style="min-height: 65vh;">
      <%- body -%>
    </div>
    <%- include('partial/footer') %>
    <%- include('partial/scripts'); -%>
  </body>
</html>