<% layout('index') %>
<h1 class="text-danger"><%= title %></h1>

<div class="container">
    <form method="POST" action="">
      <fieldset>
        <div class="table-responsive">
            <table class="table  table-hover text-danger">
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">Gred</th>
                    <th scope="col">Jawatan</th>
                    <th scope="col">Basic</th>
                </tr>
                <tbody>
                    <% var i = 0; %>
                    <% for (let staff of staffs) { %>
                    <input type="hidden" name="payslips[<%= i %>][staff_id]" value="<%= staff._id %>">
                    <input type="hidden" name="payslips[<%= i %>][basic]" value="<%= staff.basic %>">
                    <tr class="table-light">
                        <th scope="row"><%= staff.count %></th>
                        <td><%= staff.name %></td>
                        <td><%= staff.gred %></td>
                        <td><%= staff.jawatan %></td>
                        <td><%= staff.basic %></td>
                    </tr>
                    <% i++; %>
                    <% } %>
                </tbody>
            </table>
        </div>
 
        <button type="submit" class="btn btn-danger">Submit</button>
      </fieldset>
    </form>
</div>