<% layout('index') %>
<h1 class="text-danger">Summary of all staff</h1>

<a href="/add_staff">
    <button type="button" class="btn btn-danger mt-3">Enroll New Staff</button>
</a>

<div class="container mt-4">
    <table class="table table-hover table-responsive text-danger">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Name</th>
                <th scope="col">Gred</th>
                <th scope="col">Jawatan</th>
                <th scope="col">Pusat</th>
                <th scope="col">Bahagian</th>
                <th scope="col">Update</th>
                <th scope="col">Remove</th>
            </tr>
        </thead>
        <tbody>
            <% if (staffs == null || staffs.length == 0) { %>
                <tr>
                    <td colspan="8">No data</td>
                </tr>
            <% } else { %>
                <% for (let staff of staffs) { %>
                <tr class="table-light">
                    <th scope="row"><%= staff.count %></th>
                    <td><%= staff.name %></td>
                    <td><%= staff.gred %></td>
                    <td><%= staff.jawatan %></td>
                    <td><%= staff.pusat %></td>
                    <td><%= staff.bahagian %></td>
                    <td>
                        <a href="/update_staff/<%= staff._id %>" class="text-danger">
                            <i class="fas fa-edit"></i>
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="/delete_staff">
                            <input type="hidden" name="staff_id" value="<%= staff._id %>">
                            <button type="submit" onclick="return confirm('Confirm to remove?')" class="btn btn-sm">
                                <i class="fas fa-trash text-danger" ></i>
                            </button>
                        </form>
                    </td>
                </tr>
                <% } %>
            <% } %>    
        </tbody>
    </table>
</div>